

<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-12"> Certificat Enterrement</div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label  class="label">Défunt</label>
          <input [(ngModel)]="Enterrement.defunt" class="form-control" type="string" nbInput fullWidth
                 id="defunt" placeholder="Defunt" status="danger">
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label  class="label">Ville</label>
          <input [(ngModel)]="Enterrement.ville" class="form-control" type="string" nbInput fullWidth
                 id="centre" placeholder="Ville" status="danger">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label  class="label">Date declaration</label>
          <input [(ngModel)]="Enterrement.declaration" class="form-control" type="Date" nbInput fullWidth
                 id="dateDec" placeholder="Declarant" status="danger">

        </div>
      </div>
    </div>
    <div class="text-center">
      <button *ngIf="isAdmin" class="btn mr-1 "  (click)="save()" type="submit" nbButton  status="danger">Register</button>
      <button class="btn btn-secondary" (click)="generatePdf('open')" type="submit" nbButton  status="danger" outline>PDF</button>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-6">
        Certificat Enterrement
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>

    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      (editConfirm)="onEditConfirm($event)"
      (createConfirm)="createConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>




