
<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-12">Certificat du transfert du corps</div>
      </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Médecin</label>
          <nb-select [(ngModel)]="MedcinID"  class="type-select " nbSelect fullWidth
                     placeholder="Médcin" status="danger">
            <nb-option *ngFor="let t of NomMedcin" [value]="t.id">{{t.nom}} {{t.prenom}}</nb-option>
          </nb-select>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Num denregistrmrnt</label>
          <input [(ngModel)]="defauntID" class="form-control" type="string" nbInput fullWidth
                 id="num" placeholder="Num" status="danger">
        </div>
      </div>
    <div *ngIf="defauntID">
        {{actualise()}}
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Date declaration</label>
          <input [(ngModel)]="trnsfrCorps.declaration" class="form-control" type="Date" nbInput fullWidth
                 id="dateDec" placeholder="Date declaration" status="danger">

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Déclarant</label>
          <input [(ngModel)]="trnsfrCorps.Declarant" class="form-control" type="string" nbInput fullWidth
                 id="declarant" placeholder="Declarant" status="danger">

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">CIN declarant</label>
          <input [(ngModel)]="trnsfrCorps.CIN" class="form-control" type="string" nbInput fullWidth
                 id="CINdec" placeholder="CIN Declarant" status="danger">

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">N° téléphone </label>
          <input [(ngModel)]="trnsfrCorps.tel" class="form-control" type="string" nbInput fullWidth
                 id="tel" placeholder="Tel.." status="danger">

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Le corps sera transporté en cercueil </label>
          <nb-select  [(ngModel)]="trnsfrCorps.cercueilType" class="type-select "  nbSelect fullWidth
                      placeholder="" status="danger">
            <nb-option *ngFor="let t of cercueil" [value]="t" >{{ t }}</nb-option>
          </nb-select>
      </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Destination du corps</label>
          <nb-select  [(ngModel)]="trnsfrCorps.Destination" class="type-select "  nbSelect fullWidth
                      placeholder="Destination du corps" status="danger">
            <nb-option *ngFor="let t of destinationCorps" [value]="t" >{{ t }}</nb-option>
          </nb-select>

        </div>
      </div>


    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Fourgon mortuaire Mle </label>
          <input [(ngModel)]="trnsfrCorps.mortuaire" class="form-control" type="string" nbInput fullWidth
                 id="fourgon" placeholder="Fourgon mortuaire Mle" status="danger">

        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">la sociéte ou l'administration chargé de l'inhumation ou du transfert</label>
          <input [(ngModel)]="trnsfrCorps.inhumationSociete" class="form-control" type="string" nbInput fullWidth
                 id="txt" placeholder="" status="danger">

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label  class="label">Remarque </label>
          <textarea [(ngModel)]="trnsfrCorps.remarque" class="form-control" type="string"  fullWidth
                 id="Remarque" placeholder="Remarque..." status="danger">
          </textarea>

        </div>
      </div>
    </div>
    <div class="text-center">
      <button *ngIf="isAdmin" class="btn mr-1 "  (click)="save()" type="submit" nbButton  status="danger">Register</button>
      <button class="btn btn-secondary mr-1" (click)="generatePdf('open')" type="submit" nbButton  status="danger" outline>PDF</button>
      <button class="btn btn-secondary mr-1" (click)="pdf()" type="submit" nbButton  status="danger" outline>PDF Arabic</button>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-6">
        Certificat du transfert du corps
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>

    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      (editConfirm)="onEditConfirm($event)"
      (createConfirm)="createConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>




