
<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-6">Ajouter un Medecin</div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Nom Medecin</label>
          <input [(ngModel)]="medcin.nom" class="form-control" type="string" nbInput fullWidth
                 id="nom" placeholder="Nom Medecin">

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">الإسم العائلي</label>
          <input [(ngModel)]="medcin.nomAR" class="form-control" type="string" nbInput fullWidth
                 id="nomAR" placeholder="الإسم العائلي">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Prénom Medecin</label>
          <input [(ngModel)]="medcin.prenom" class="form-control" type="string" nbInput fullWidth
                 id="prenom" placeholder="Nom Medecin">

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">الإسم الشخصي</label>
          <input [(ngModel)]="medcin.prenomAR" class="form-control" type="string" nbInput fullWidth
                 id="prenomAR" placeholder="الإسم الشخصي">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Adresse de Medecin</label>
          <input [(ngModel)]="medcin.Adress" class="form-control" type="string" nbInput fullWidth
                 id="adresse" placeholder="Adresse de Medecin">

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">العنوان</label>
          <input [(ngModel)]="medcin.AdressAR" class="form-control" type="string" nbInput fullWidth
                 id="AdresseAR" placeholder="العنوان">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">CIN d'encadrant</label>
          <input [(ngModel)]="medcin.CIN" class="form-control" type="string" nbInput fullWidth
                 id="cin" placeholder="CIN d'encadrant">

        </div>
      </div>
    </div>
    <div class="text-center">
      <button *ngIf="isAdmin" class="btn mr-1 "  (click)="save()" type="submit" nbButton  status="info">Register</button>
      <button class="btn btn-secondary mr-1"  type="submit" nbButton  status="info" outline>Cancel</button>
    </div>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-6">
        gestion des Medecins
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>

    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      (editConfirm)="onEditConfirm($event)"
      (createConfirm)="createConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>




