<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-6">Bulletin</div>
      </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Type de bulletin</label>
          <nb-select  [(ngModel)]="Bulletins.typeBulletin" class="type-select "  nbSelect fullWidth
                      placeholder="Type de bulletin" >
            <nb-option *ngFor="let t of typeBulletin" [value]="t" >{{ t }}</nb-option>
          </nb-select>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Date de déclaration</label>
          <input  [(ngModel)]="Bulletins.declaration" class="form-control"  type="Date"  fullWidth
                      placeholder="Date de déclaration" >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Province ou préfecture</label><br>
          <nb-select  [(ngModel)]="Bulletins.province" class="type-select "  nbSelect fullWidth
                      placeholder="Province ou préfecture" >
            <nb-option *ngFor="let t of province" [value]="t" >{{ t }}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Cercle</label><br>
          <input [(ngModel)]="Bulletins.cercle" class="form-control" ng-required="expression" type="string" nbInput fullWidth
                 id="cercle" placeholder="Cercle">




        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Municipalité/Centre/Commune</label><br>
          <input [(ngModel)]="Bulletins.centre" class="form-control"  type="string" nbInput fullWidth
                 id="municipalite" placeholder="Municipalité/Centre/Commune">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Diagnostiue Attestation</label>
          <nb-select  [(ngModel)]="Bulletins.diagnostique" class="type-select "  nbSelect fullWidth
                      placeholder="Diagnostiue Attestation" >
            <nb-option *ngFor="let t of diagnostique" [value]="t" >{{ t }}</nb-option>
          </nb-select>

        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Milieu résidence</label>
          <nb-select  [(ngModel)]="Bulletins.residece" class="type-select "  nbSelect fullWidth
                      placeholder="Milieu résidence" >
            <nb-option *ngFor="let t of Milieu" [value]="t" >{{ t }}</nb-option>
          </nb-select>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Lieu Entrement</label>
          <nb-select  [(ngModel)]="Bulletins.LieuEntrement" class="type-select "  nbSelect fullWidth
                      placeholder="Lieu Entrement" >
            <nb-option *ngFor="let t of Lieu" [value]="t" >{{ t }}</nb-option>
          </nb-select>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Cimetière</label>
          <nb-select  [(ngModel)]="Bulletins.cimetiere" class="type-select "  nbSelect fullWidth
                      placeholder="Cimetière" >
            <nb-option *ngFor="let t of cimetiere" [value]="t" >{{ t }}</nb-option>
          </nb-select>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Numéro de tombe</label>
          <nb-select  [(ngModel)]="Bulletins.NumTombe" class="type-select "  nbSelect fullWidth
                      placeholder="Numéro de tombe" >
            <nb-option *ngFor="let t of num" [value]="t" >{{ t }}</nb-option>
          </nb-select>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Compostage</label>
          <input [(ngModel)]="this.Bulletins.compostage" class="form-control"  type="string" nbInput fullWidth
                 id="Compostage" placeholder="Compostage">

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Decede</label><br>
          <nb-select  [(ngModel)]="numRgtr" class="type-select "  nbSelect fullWidth
                      placeholder="Num regestre" >
            <nb-option *ngFor="let t of NomDecede" [value]="t.numRegister" > {{t.numRegister}} : {{ t.nom }} {{ t.prenom }}</nb-option>
          </nb-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Medecin</label><br>
          <nb-select  [(ngModel)]="medcinid" class="type-select "  nbSelect fullWidth
                      placeholder="Num regestre" >
            <nb-option *ngFor="let t of NomDMedcin" [value]="t.id" > {{t.id}} : {{ t.nom }} {{ t.prenom }}</nb-option>
          </nb-select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <div *ngIf="isAdmin"><button (click)="save()" class="btn btn-outline-primary fa-pull-right" ><i class="fa fa-plus-circle"></i> Add</button></div>
        <button (click)="generatePdf('open')"
                class="btn btn-outline-primary fa-pull-right" >

          <span>Open PDF</span></button>

      </div>
    </div>
  </nb-card-body>
</nb-card>
<div *ngIf="medcinid && numRgtr ">
  {{add()}}
<nb-card>
  <nb-card-body>
    <nb-tabset>
       <nb-tab tabTitle="Informations de Médecin">
        <nb-card>
          <nb-card-header>
            <div class="row">
              <div class="col-sm-6">
                Les informations de médecin
              </div>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Nom Medecin</label>
                     <output [value]="this.MedecinHumain.nom" class="form-control" type="string" fullWid >
                  </output>
                </div>
              </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label  class="label">الإسم العائلي</label>
            <output [value]="this.MedecinHumain.nomAR" class="form-control" type="string" fullWidth >
                </output>
              </div>
            </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Prénom Medecin</label>
                  <output [value]="this.MedecinHumain.prenom" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">الإسم الشخصي</label>
                  <output [value]="this.MedecinHumain.prenomAR" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Adresse de Medecin</label>
                  <output [value]="this.MedecinHumain.Adress" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">العنوان</label>
                  <output [value]="this.MedecinHumain.AdressAR" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">CIN d'encadrant</label>
                  <output [value]="this.MedecinHumain.CIN" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
       </nb-tab>
      <nb-tab tabTitle="Informations de décéde">
        <nb-card>
          <nb-card-header>
            <div class="row">
              <div class="col-sm-6">
                Les informations de decede
              </div>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label ">Nom décédè</label>
                  <output [value]="this.DecedeHumain.nom" class="form-control" type="string" fullWid >
                  </output>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Prénom décédè</label>
                  <output [value]="this.DecedeHumain.prenom" class="form-control" type="string" fullWid >
                  </output>


                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Sexe</label>
                  <output [value]="this.DecedeHumain.sexe" class="form-control" type="string" fullWid >
                  </output>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Date décès</label>
                  <output [value]="this.DecedeHumain.dateDeces" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>
            </div>


            <div class="row">

              <div class="col-sm-6">
                <label  class="label">S'agit-il d'un mort né</label>>
                <output [value]="this.DecedeHumain.mortNe" class="form-control" type="string" fullWid >
                </output>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Date de naissance</label>
                  <output [value]="this.DecedeHumain.dateNaissance" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Lieu de naissance</label>
                  <output [value]="this.DecedeHumain.LieuNaiss" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Nationalité</label>
                  <output [value]="this.DecedeHumain.nationalite" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">CIN</label>
                  <output [value]="this.DecedeHumain.CIN" class="form-control" type="string" fullWid >
                  </output>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Adresse</label>
                  <output [value]="this.DecedeHumain.adresse" class="form-control" type="string" fullWid >
                  </output>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Etat Matrimonial</label>
                  <output [value]="this.DecedeHumain.Etat" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Fille ou fils de : </label>
                  <output [value]="this.DecedeHumain.fils" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Heure de décès</label>
                  <output [value]="this.DecedeHumain.heure" class="form-control" type="string" fullWid >
                  </output>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Lieu Décès</label>
                  <output [value]="this.DecedeHumain.lieuxDeces" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Préfecture /Province</label>
                  <output [value]="this.DecedeHumain.provinceD" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Préfecture d'arrondissements</label>
                  <output [value]="this.DecedeHumain.prefectureD" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Commune /Arrondissements</label>
                  <output [value]="this.DecedeHumain.communeD" class="form-control" type="string" fullWid >
                  </output>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label"> Nature du mort </label>
                  <output [value]="this.DecedeHumain.natureMort" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Num de regestre : </label>
                  <output [value]="this.DecedeHumain.numRegister" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label"> Profession </label>
                  <output [value]="this.DecedeHumain.profession" class="form-control" type="string" fullWid >
                  </output>

                </div>
              </div>


            </div>

            <div class="row">
              <div class="col-sm-6">
                <label  class="label">Obstacle medicolégal</label>
                <output [value]="this.DecedeHumain.obstacle" class="form-control" type="string" fullWid >
                </output>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Autopsie</label>
                  <output [value]="this.DecedeHumain.obstacle" class="form-control" type="string" fullWid >
                  </output>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label  class="label">Une operation a-t-elle été effectuées lors des 4 dernières semaines ?</label>
                  <output [value]="this.DecedeHumain.obstacle" class="form-control" type="string" fullWid >
                  </output>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <button (click)="generatePdf('open')"
                        class="btn btn-outline-primary fa-pull-right">
                  <span>PDF</span></button>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-tab>

    </nb-tabset>


  </nb-card-body>

</nb-card>
</div>

<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-6">
       Bulletins
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>

    <ng2-smart-table
      (createConfirm)="createConfirm($event)"
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      (editConfirm)="onEditConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>




