<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-6">Bulletin</div>
      </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Type de bulletin</label>
          <nb-select  [(ngModel)]="Bulletins.typeBulletin" class="type-select "  nbSelect fullWidth
                      placeholder="Type de bulletin" >
            <nb-option *ngFor="let t of typeBulletin" [value]="t" >{{ t }}</nb-option>
          </nb-select>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Date de déclaration</label>
          <input  [(ngModel)]="Bulletins.declaration" class="form-control"  type="Date"  fullWidth
                      placeholder="Date de déclaration" >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Province ou préfecture</label><br>
          <nb-select  [(ngModel)]="Bulletins.province" class="type-select "  nbSelect fullWidth
                      placeholder="Province ou préfecture" >
            <nb-option *ngFor="let t of province" [value]="t" >{{ t }}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Cercle</label><br>
          <input [(ngModel)]="Bulletins.cercle" class="form-control" ng-required="expression" type="string" nbInput fullWidth
                 id="cercle" placeholder="Cercle">




        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Municipalité/Centre/Commune</label><br>
          <input [(ngModel)]="Bulletins.centre" class="form-control"  type="string" nbInput fullWidth
                 id="municipalite" placeholder="Municipalité/Centre/Commune">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Diagnostiue Attestation</label>
          <nb-select  [(ngModel)]="Bulletins.diagnostique" class="type-select "  nbSelect fullWidth
                      placeholder="Diagnostiue Attestation" >
            <nb-option *ngFor="let t of diagnostique" [value]="t" >{{ t }}</nb-option>
          </nb-select>

        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Milieu résidence</label>
          <nb-select  [(ngModel)]="Bulletins.residece" class="type-select "  nbSelect fullWidth
                      placeholder="Milieu résidence" >
            <nb-option *ngFor="let t of Milieu" [value]="t" >{{ t }}</nb-option>
          </nb-select>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Lieu Entrement</label>
          <nb-select  [(ngModel)]="Bulletins.LieuEntrement" class="type-select "  nbSelect fullWidth
                      placeholder="Lieu Entrement" >
            <nb-option *ngFor="let t of Lieu" [value]="t" >{{ t }}</nb-option>
          </nb-select>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Cimetière</label>
          <nb-select  [(ngModel)]="Bulletins.cimetiere" class="type-select "  nbSelect fullWidth
                      placeholder="Cimetière" >
            <nb-option *ngFor="let t of cimetiere" [value]="t" >{{ t }}</nb-option>
          </nb-select>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Numéro de tombe</label>
          <nb-select  [(ngModel)]="Bulletins.NumTombe" class="type-select "  nbSelect fullWidth
                      placeholder="Numéro de tombe" >
            <nb-option *ngFor="let t of num" [value]="t" >{{ t }}</nb-option>
          </nb-select>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Compostage</label>
          <input [(ngModel)]="compostage" class="form-control"  type="string" nbInput fullWidth
                 id="Compostage" placeholder="Compostage">

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Constatation faite par</label>
          <input [(ngModel)]="constation" class="form-control"  type="string" nbInput fullWidth
                 id="constation" placeholder="Constatation faite par">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Decede</label><br>
          <nb-select  [(ngModel)]="numRgtr" class="type-select "  nbSelect fullWidth
                      placeholder="Num regestre" >
            <nb-option *ngFor="let t of NomDecede" [value]="t.numRegister" > {{t.numRegister}} : {{ t.nom }} {{ t.prenom }}</nb-option>
          </nb-select>
      </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Medecin</label><br>
          <nb-select  [(ngModel)]="Bulletins.remarque" class="type-select "  nbSelect fullWidth
                      placeholder="Num regestre" >
            <nb-option *ngFor="let t of NomDMedcin" [value]="t.id" > {{t.id}} : {{ t.nom }} {{ t.prenom }}</nb-option>
          </nb-select>
        </div>
      </div>
      <div *ngIf="numRgtr">
        {{add()}}
      </div>

      </div>

    <div class="row">
      <div class="col-md-12">
          <div *ngIf="isAdmin"><button (click)="save()" class="btn btn-outline-primary fa-pull-right" ><i class="fa fa-plus-circle"></i> Add</button></div>
        <button (click)="generatePdf('open')"
                class="btn btn-outline-primary fa-pull-right" >

          <span>Open PDF</span></button>

      </div>
    </div>
    <!--    </div>-->

    <nb-tabset>
      <nb-tab tabTitle="Informations de decede">
        <nb-card>
          <nb-card-header>
            <div class="row">
              <div class="col-sm-6">
                Les informations de décède
              </div>
            </div>
          </nb-card-header>
          <nb-card-body>

          </nb-card-body>
        </nb-card>

      </nb-tab>
      <nb-tab tabTitle="Informations de médcin">
        <nb-card>
          <nb-card-header>
            <div class="row">
              <div class="col-sm-6">
                Les informations de médecin
              </div>
            </div>
          </nb-card-header>
          <nb-card-body>

            <nb-card-body>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label  class="label">Nom Medecin</label>
                    <input [(ngModel)]="this.nM" class="form-control" type="string" nbInput fullWidth
                           id="nom" placeholder="Nom Medecin">

                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label  class="label">الإسم العائلي</label>
                    <input [(ngModel)]="medcin.nomAR" class="form-control" type="string" nbInput fullWidth
                           id="nomAR" placeholder="الإسم العائلي">

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label  class="label">Prénom Medecin</label>
                    <input [(ngModel)]="medcin.prenom" class="form-control" type="string" nbInput fullWidth
                           id="prenom" placeholder="Nom Medecin">

                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label  class="label">الإسم الشخصي</label>
                    <input [(ngModel)]="medcin.prenomAR" class="form-control" type="string" nbInput fullWidth
                           id="prenomAR" placeholder="الإسم الشخصي">

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label  class="label">Adresse de Medecin</label>
                    <input [(ngModel)]="medcin.Adress" class="form-control" type="string" nbInput fullWidth
                           id="adresse" placeholder="Adresse de Medecin">

                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label  class="label">العنوان</label>
                    <input [(ngModel)]="medcin.AdressAR" class="form-control" type="string" nbInput fullWidth
                           id="AdresseAR" placeholder="العنوان">

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label  class="label">CIN d'encadrant</label>
                    <input [(ngModel)]="medcin.CIN" class="form-control" type="string" nbInput fullWidth
                           id="cin" placeholder="CIN d'encadrant">

                  </div>
                </div>
              </div>



            </nb-card-body>
          </nb-card-body>
        </nb-card>




      </nb-tab>
    </nb-tabset>

  </nb-card-body>

</nb-card>

<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-6">
       Bulletins
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>

    <ng2-smart-table
      (createConfirm)="createConfirm($event)"
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      (editConfirm)="onEditConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>




