<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Les statistiques selon le deces des enfants leurs age entre 1jour et 30jours</nb-card-header>
      <nb-card-body>
        <ngx-enchatschart></ngx-enchatschart>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header> Les statistiques selon la nature de deces</nb-card-header>
      <nb-card-body>
        <ngx-naturechart></ngx-naturechart>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Statistique sur la mortinatalite des nouveaux nés</nb-card-header>
      <nb-card-body>
        <ngx-mycharts></ngx-mycharts>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header> Statistiques selon région</nb-card-header>
      <nb-card-body>
        <ngx-regionchart></ngx-regionchart>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Statistique sur la mortalité selon la cause de deces</nb-card-header>
      <nb-card-body>
        <ngx-causechart></ngx-causechart>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Statistique sur la mortalité selon le sexe</nb-card-header>
      <nb-card-body>
        <ngx-sexechart></ngx-sexechart>
      </nb-card-body>
    </nb-card>
  </div>
</div>
